*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px dashed red;/*da togliere*/
}


:root{
    --azzurro: #0084FD;
    --viola: #9792E4;
    --paddinginline: 0.5rem;

}
.section{
    width: 100%;
    padding: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;

}
.s{
    flex-basis: calc(100% /3);
    max-width: 350px;
}
.card.s{
    min-width: 250px;
    margin: 1rem;
    justify-content: space-between;
}
.m{
    min-width: 570px;
}
.l{
    justify-content: center;
    flex-basis: calc((100% /3)*2);
    max-width: calc(700px + 2rem);
    margin: 1rem;
}
.xl{
    width: 100%;
    margin: var(--paddinginline);

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1150px;
    margin: var(--paddinginline) auto;
}
button{
    padding: 2px var(--paddinginline);
    border: 0px;
}
.card h4, .card p , .card span{
    padding: 1rem var(--paddinginline);

}
.card span{
    margin: 0 auto;
}
.card.s h4{
    text-align: center;
}
.card.l h4{
    text-align: left;
}

/******************** top nav ********************/
.top-nav{
    background-color:var(--azzurro);
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 40px;
    padding: var(--paddinginline);
    
}
.top-nav a, .top-nav span{
    color: white;
}
.top-nav a{
    text-decoration: none;
    margin: 0 var(--paddinginline);
}
.top-nav button{
    border-radius: 20px;

}

/*  bottone invisibile da riattivare
.hide{
    display: none;
}*/

/******************** main ********************/

.section.n1{
    background-color: white;
    /*min-width: 850px;
    max-width: 1300px;*/
}

.section.n1 .card{
    background-color: #B5DDFF;
    border-radius: 18px;
}

.section.n1 .card.l{
    flex-direction: row;
    /*min-width: 400px;*/
}
.section.n1 .card.l button{
    background-color: var(--azzurro);
    border-radius: 15px;
    margin-right: auto;
}
.card.s img{
    width: 250px;
    padding-top: auto;
    padding-right: auto;

}
.card .img{
    margin-bottom: - var(--paddinginline);
}
.section.n1 .card.s h4{
    color: var(--azzurro);
}
.card.s span i{
    font-size: 70px;
    color: var(--azzurro);
}
                /******************** section 2 ***********************/
.section.n2{
    background-color: var(--viola);
    padding-top: 5rem;
}

.jumbol{
    width: 50%;
    margin:25px;
    align-content:last baseline;
    margin-left: auto;
    color: white;
}
img.jumbor{
    width: 200px;
}
.jumbor{
    margin:var(--paddinginline) 25px;
    align-content:last baseline;
}
.special{
    width: 50%;
    margin-top: auto;
    margin-bottom: 25px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
}
button.jumbor {
    background-color: var(--viola);
    font-size: 1.5rem;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
}

                /******************** section 3 ***********************/

section.n3 .container , .container .testimonial{
    flex-direction: column;
}

.user{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.user  img{
    width: 20%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    padding: 2rem;
    min-width: 200px;
}
.container.testimonial{
    width: 80%;
    padding: 2rem;
}

.banner h2, .banner p, .banner span{
   margin: var(--paddinginline);
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner h2{
    color: var(--viola);
}

.nome{
    font-weight: 600;
}
.user{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-color: var(--viola);
    border-radius: 40px;
}
.container.testimonial p{
    padding: var(--paddinginline) 1rem;
}
.section.n3{
    margin-bottom: 50px;
}

                /******************** section 4 ***********************/
.section.n4 .banner h2{
    color: white;
    font-weight: 600;
}
.section.n4 .container .card.s  h4, .section.n4 .container .card.s  p {
    padding: 1.5rem 1.5rem;
}
.section.n4 .container h4{
    text-align: left;
    font-size:larger;
}
.section.n4 .container .card.s {
    background-color: white;
    color: var(--viola);
    border-radius: 20px;
}
.section.n4{
    background-color: var(--viola);
}
.section.n4 .card.s button{
    padding: 0px  0px;
    width: 130px;
    line-height: 2.5rem;
    margin: 1.5rem;
    background-color: var(--viola);
    border-radius: 20px;
    color: white;
}
.section.n4 .card.s h1{
    font-size: 50px;
    padding: 0.5rem 1.5rem;
}
                /******************** section 5 ***********************/

.helper{
border-radius: 50%;
}
.section.n5 .container .special{
    margin-top:25px;
}
